<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <ion-title>
      Basketball
      <br> Chips
      <br> Fundamentals
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="background: #f8f8fa; color: black;" (click)="presentPopover($event)">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list-header >Basketball Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Accomulated Data of Basketball</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>


 <div>
  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <!-- <ion-img src="assets/icon/favicon.png"></ion-img> -->
        <ion-icon name="basketball-outline" style="height: 60px; width: 80px;" ></ion-icon>
      </ion-thumbnail>
      <ion-label>Overview</ion-label>
    </ion-item>
  </ion-list>
 </div>

 <ion-card class="second-card">
  <ion-card-header>
    <div class="ion-text-center">
      <b>Important !!!</b>
    </div>
  </ion-card-header>
  <ion-card-content>
    For youth players, we suggest that you focus on teaching the proper technique and fundamentals.
  </ion-card-content>

</ion-card>

</ion-content>
