.main-toolbar {
  padding-bottom: 50px;
  --background: #a4f4f9;
  border-bottom-left-radius: 50px;
  color: #74bbfb;
}


.first-card {
  height: 200px;
  border: 15px solid white;
  // border-radius: 7px;
  box-shadow: 100 100;
}

.second-card {
  height: 150px;
  // border: 15px solid white;
  // border-radius: 7px;
  box-shadow: 100 100;
  ion-card-header {
    padding-top: 20px;
    --background: #a4f4f9;
  }
}